<h1>All Games</h1>
<table class="table table-hover">
  <thead>
    <tr>
      <th>Game ID</th>
      <th>Result</th>
      <th>Map Used</th>
      <th>Difficulty Level</th>
      <th>Process of Elimination</th>
      <th>Correct Guesses</th>
      <th>Incorrect Guesses</th>
      <th>Remaining Items</th>
      <th>Percent Complete</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody class="all-games-table">
    {{#each games as |game|}}
      <tr data-id="{{game.id}}">
        <td data-id="{{game.id}}">{{game.id}}</td>
        <td data-id="{{game.id}}">{{game.game_result}}</td>
        <td data-id="{{game.id}}">{{game.geography}}</td>
        <td data-id="{{game.id}}">{{game.difficulty}}</td>
        <td data-id="{{game.id}}">{{game.process_of_elimination}}</td>
        <td data-id="{{game.id}}">{{game.guesses_correct}}</td>
        <td data-id="{{game.id}}">{{game.guesses_incorrect}}</td>
        <td data-id="{{game.id}}">{{game.map_remaining.length}}</td>
        <td data-id="{{game.id}}">{{game.percentComplete}}%</td>
        <td data-id="{{game.id}}"><button type="button" class="btn btn-danger delete-game" data-id="{{game.id}}">Delete</button>{{#if game.renderResumeButton}}<button type="button" class="btn btn-success resume-game" data-id="{{game.id}}">Resume</button>{{/if}}</td>
    {{/each}}
  </tbody>
</table>
